.mainMenu
  display flex
  align-items center
  justify-content center
  height 100%

  &__active
    color #ffffff
    background-color #122859

  &__body
    display flex

    &__item
      display block
      padding 10
      cursor pointer
      border-radius 10px
      isMobile(none)

    &__mobile
      display none
      isMobile(block)


