.mainMenu
  display flex
  align-items center
  justify-content center

  &__body
    display flex

    &__item
      display block
      color black
      padding 10
      cursor pointer
      border-radius 10px
      isMobile(none)

    &__mobile
      display none
      isMobile(block)


    &__active
      color white
      background-color #122859
