.todo
  background-color #dcc11d
  height 100%

  &__form
    background-color aqua


  &__list

    &__item
      background-color #4467a8

      &__check
        display inline-block
        height 10px
        width 10px
        border-radius 50%
        background-color white
        cursor pointer

      &__checked
        background-color chartreuse