.layout
  display grid
  padding: 0
  margin: 0
  height: 100%

  grid-template-rows 50px 150px auto 75px

  grid-template-areas "header"\ "menu"\ "main"\ "footer"

  exceptMainHeight = 275px

  &__header
    grid-area header
    position sticky
    top 0

  &__menu
    grid-area menu

  &__main
    grid-area main
    min-height "calc(100vh - %s)" % (exceptMainHeight)

  &__footer
    grid-area footer