.todo
  display flex
  justify-content center
  background-color #202734
  color white
  height 100%
  width 100%

  &__body
    max-width 1000px

    h1
      padding 1rem
      text-align center

    &__form
      background-color #202734
      display flex
      padding 1rem
      color white

      label
        margin-right 10px

      &__input
        flex 1
        background-color #202734
        color white
        border none
        outline none
        border-bottom 1px solid #919191
        transition border-bottom 0.4s

        &:focus
          border-bottom: 1px solid #ffffff


      button
        margin-left 10px
        border 0.5px solid white
        background-color #000000
        color white
        font-weight lighter
        cursor pointer
        padding 2px 15px
        border-radius 5px


    &__list
      border-radius 10px
      padding 1rem
      color #999999
      background-color black


      &__item
        border-bottom 0.5px solid #727070
        display flex
        align-items center
        justify-content space-between
        padding 10px

        &__message
          margin-right auto
          word-break break-all

        &__message.checked
          text-decoration line-through

        &__check
          display inline-block
          height 15px
          width 15px
          border-radius 50%
          background-color white
          cursor pointer
          margin-right 10px
          min-width 15px

        &__check.checked
          background-color #0096ff

        &__button-edit
          margin-left 10px
          margin-right 10px

          &:hover
            color #7f9dee
            border 0.5px solid #7f9dee

        &__button-delete

          &:hover
            color #da4444
            border 0.5px solid #da4444

        &__button-save
          display block
          opacity 1

          &:hover
            color #8dce2a
            border 0.5px solid #8dce2a

        &__edit
          margin-right auto
          flex 1
          border none
          outline none
          background-color black
          color white

        button
          padding 2px 15px
          display flex
          align-items center
          justify-content center
          min-width 60px
          margin-left 5px
          border 0.5px solid white
          background-color #000000
          color white
          font-weight lighter
          cursor pointer
          border-radius 10px
