.header
  display flex
  align-items center
  background-color #323232
  color #d6d6d6
  height 100%
  transition 0.5s

  &__body
    display flex
    width 100%
    justify-content space-between
    padding 0 30px

    &__title_m
      font-weight bold
      display none
      isMobile(flex)
      align-items center

    &__hamburger_icon
      display none
      isMobile(flex)

    &__search_icon
      cursor pointer
      display flex
      align-items center

    &__title
      font-weight bold
      margin-right auto
      display block
      isMobile(none)


.header.open
  background-color black

