.header
  display flex
  align-items center
  background-color #eeeef3
  height 100%
  border-bottom 2px solid #ccc6c6

  &__body
    display flex
    width 100%
    justify-content space-between
    padding 0 30px

    &__title_m
      font-weight bold
      display none
      isMobile(block)

    &__hamburger_icon
      display none
      isMobile(block)

    &__search_icon
      cursor pointer

    &__title
      font-weight bold
      margin-right auto
      display block
      isMobile(none)



