.sideMenu
  position fixed
  top 50px
  left 0
  rigth 0
  bottom 0
  width 100%
  max-height 0%
  background-color #000000
  z-index 9999
  transition 0.5s
  overflow hidden

  &__content.open
    animation openSideMenuItem 0.5s forwards

  &__content
    animation closeSideMenuItem 0.5s forwards
    padding 20px

    &__item
      cursor pointer
      padding 15px
      color #cccccc
      border-bottom 1px solid #424144

      &:hover
        color white


  @media screen and (max-width: 768px)
    visibility visible


.sideMenu.open
  max-height 100%


@keyframes openSideMenuItem
  from
    transform translateY(-30px)
    opacity 0

  to
    opacity 100

@keyframes closeSideMenuItem
  from
    opacity 100

  to
    transform translateY(-30px)
    opacity 0