.hamburger-container
  display flex
  align-items center
  cursor pointer

.hamburger
  width 20px
  height 20px
  display flex
  flex-direction column
  justify-content space-between

.hamburger-line
  width 100%
  height 2px
  background black
  transition 0.3s


.hamburger.open .hamburger-line:nth-of-type(1)
  transform translateY(9px) rotate(45deg)

.hamburger.open .hamburger-line:nth-of-type(2)
  opacity 0

.hamburger.open .hamburger-line:nth-of-type(3)
  transform translateY(-9px) rotate(-45deg)