.header__body__hamburger_icon
  align-items center
  cursor pointer


.hamburger
  width 17px
  height 9px
  display flex
  flex-direction column
  justify-content space-between

.hamburger-line
  width 100%
  height 1.5px
  background #ffffff


.hamburger.open .hamburger-line:nth-of-type(1)
  animation openNth1 0.4s forwards

.hamburger.open .hamburger-line:nth-of-type(2)
  animation openNth2 0.4s forwards

.hamburger-line:nth-of-type(1)
  animation closeNth1 0.4s forwards

.hamburger-line:nth-of-type(2)
  animation closeNth2 0.4s forwards


@keyframes openNth1
  40%
    transform translateY(3px)

  100%
    transform translateY(4px) rotate(45deg)


@keyframes openNth2
  40%
    transform translateY(-3px)

  100%
    transform translateY(-4px) rotate(-45deg)

@keyframes closeNth1
  0%
    transform translateY(4px) rotate(45deg)

  40%
    transform translateY(3px)

@keyframes closeNth2
  0%
    transform translateY(-4px) rotate(-45deg)

  40%
    transform translateY(-3px)